body{
    background-color:rgb(230, 140, 89);
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
   
}
header{
    background-color: rgba(245, 202, 154, 0.137); 
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    box-sizing: 10px;
    border-color: black;
}
header .titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 10px;
    
}
header .menu{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
    width: 50%; 
    margin: 40px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-end;
}
header .menu a{
    margin: 0 5px;
}


.parteSuperior{
    background-color: rgb(178, 108, 243);
    height: 100%;
    width: 100%;
}