@font-face {
    font-family: 'atwriter';
    src: url('../fuentes/atwriter.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BohemianSoul';
    src: url('../fuentes/Bohemian\ Soul.otf');
}
.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }


body{
    background-color:rgb(230, 140, 89);
    margin:0;
    padding:0;
   
}
header{
    background-image: url(../images/reflejoenelcamino.jpg);
    background-size: cover; 
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    
}
.onlynav{
    height: 120px !important;
}
header .nav{
    width: 100%;
    min-height: 120px;
    background-color: rgba(255, 255, 255, 0.048);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
header .rellenarNav{
    background-color: beige !important;
}

header .nav .titulo img{
 
    height: 80px;
    margin: 30px;
    padding-left: 40px;
    
}
header .nav .menu{
    font-size: 20px;
    font-family: atwriter, serif;
   
    width: 50%; 
    margin: 40px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}
header .menu a{
    margin: 0 5px;
}

header .imagenSuperior{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    
}

header .imagenSuperior h1{
    font-family:"Satisfy", cursive;
    font-size:50px;
    color: black;
}


.espacioFrase{
    background-color:rgb(7, 34, 7);
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.espacioFrase h1{
    margin: 0%;
    color: beige;
    padding-top: 10px;
    font-family: "BohemianSoul", serif;
  /*  animation:mover-izquierda-derecha 2s 2;
    animation-fill-mode:forwards;*/
}
@keyframes mover-izquierda-derecha{
    from{
        transform:translateX(-100px)
    }
    to{
        transform: translateX(10px);
    }
}


.galeria{
    background-color: rgb(240, 206, 163);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.galeria h2{
    color: blueviolet;
    margin: 0%;
    font-family: "BohemianSoul";
    font-size: 25px;
    padding-bottom: 50px;
}

.galeria .carrete{
    background-color: rgb(240, 206, 163);
    padding: 0 50px;
    height: 50vh;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}
.galeria .carrete .imagenes{
   
    width: 300px;
    height: 300px;
    margin: 0 25px;
    
    
}
.galeria .carrete .imagenes img{
    background-color: rgb(195, 167, 237);
    width: 100%;
    height: 100%;
    margin: 0 25px;
    border: 1px solid black;
    border-radius:5px;
    object-fit: cover;

    
}

.sobreMi{
    background-color: beige;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.sobreMi .informacion{
    background-color: rgb(174, 128, 184);
    width:80%;
    height: 80vh;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.sobreMi .informacion img{
    width: 243px;
    height: 400px;
    padding: 20px;
    margin-top: 20px;
    object-fit: cover;
}
.sobreMi .informacion .infoDescripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 10px 40px;
    
}

.sobreMi .informacion .infoDescripcion p{
    font-family: "Satisfy", cursive;
    font-size: 30px;
}
.sobreMi .paraPorfolio{
    font-size: 20px;
    font-family:"BohemianSoul", serif;
    text-align: start;
    align-items: flex-start;
    top: 40px;
    width: 100%;
    padding: 20px 0px;
   
}
.sobreMi .paraPorfolio ul{
    font-size: 15px;
    font-family: "BohemianSoul", serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


footer{
    background-color:rgb(7, 34, 7);
    width:100%;
    height:60vh;
    margin:0%;
   
}
footer .pieDePagina{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    padding: 80px;

}
footer .pieDePagina .logosPiePag img{
    color: antiquewhite;
    width: 120px;
    height: 120px;
}
footer .pieDePagina .contacto p h3{
    font-family:'atwriter', sans-serif;
    color: antiquewhite;
    font-size: 10px;
}
footer .pieDePagina .contacto i{
    color: antiquewhite;
    font-size: 20px;
}


.seccionGaleria{
    background-color: beige;
    min-height: 100vh !important;
    position: relative;
    width: 100%;
    
}
.seccionGaleria .galeria2 {
    background-color: rgb(158, 238, 189);
    width: 100%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.seccionGaleria .galeria2 h2{
    margin: 0%;
    font-size: 30px;
    font-family:"BohemianSoul", sans-serif;
    color: blueviolet;
    padding: 30px;

}

.seccionGaleria .galeria2 .imagenes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.seccionGaleria .galeria2 .imagenes img{
    width: 300px;
    height: 300px;
    padding: 8px;
   
}